body {
    background:#000 none repeat scroll 0 0;
    color:#fff;
    font-family:Helvetica;
    font-size:72%;
	background:#3a3938;
    line-height:1.5em;
	margin:0;
	height:400px;
	text-align:center;
}

h1 {
	font-size:large;
	font-weight:normal;
	margin:0;
	padding:20px;
	color:#fff;
	text-shadow: 0px -1px 0px #374683;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#434241), to(#262524));
	display:block;
}

a {
	text-decoration:none;
	font-size:x-large;
	font-weight:normal;
	color:#fff;
	text-shadow: 0px -1px 0px #374683;
	display:block;
	text-align:left;
}

table {
	width:100%;
}

a.delete {
	padding:10px;
	width:15px;
	height:15px;
	float:right;
	-webkit-border-radius:10px;
	background:#333;
	color:#ccc;
	text-shadow: 0px 1px 0px #e5e5ee;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

li {
    padding:30px;
} 

input {
    border:none;
    -webkit-border-radius:10px;
    font-size:xx-large;
    margin-bottom:10px;
    width:100%;
}

label {
    text-transform:uppercase;
    letter-spacing:-1;
    color:#ccc;
    float:left;
	margin:0;
	padding:0;
	text-align:left;
}

.card {
	width:250px;
    min-height:340px;
    padding:20px;
	margin:0 20px 0 0;
	float:left;
}

#wrap {
	position:absolute;
	left:20px;
	width:1500px;
	height:600px;
	overflow:none;
}

#add-bookmark {
	margin:20px 0 20px 20px;
}
